.display-none {
    display: none;
}


.main-slider .slide {
    opacity: 0;
    transition: 0.6s;
    position: absolute !important;
}

.main-slider .slide.active {
    opacity: 1;
}

.services-slider .slider-wrapper {
    overflow: hidden;
    max-width: 100%;
}

.services-slider .slider-content {
    display: flex;
    position: relative;
    transition: 0.5s;
}

.services-slider,
.gallery-slider {
    position: relative;
}

.gallery-slider .slide-arrow {
    align-items: center;
}

.slide-arrow {
    display: flex;
    padding-top: 60px;
    height: 100%;
    width: 35px;
    position: absolute;
    cursor: pointer;
    top: 0;
    z-index: 100;
}

.slide-arrow.hidden {
    opacity: 0.6;
}

.slide-left {
    left: 3px;
}

.slide-right {
    right: 3px;
}

.slide-arrow:after {
    content: '';
    display: flex;
    width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #ffd11a url('../images/arrow-left.png') center no-repeat;

}

.slide-right:after {
    background-image: url('../images/arrow-right.png');

}


.gallery-slider {
    height: 405px;
    padding: 0 !important;
}

.gallery-slider .slide {
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}

.gallery-slider .slide.active {
    opacity: 1;
}


.slider-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;
}

.slider-dots-item {
    content: '';
    display: flex;
    height: 4px;
    width: 22px;
    background-color: #ffd11a;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.slider-dots-item.active {
    opacity: 1;
}